.bco-test {
  background-color: greenyellow;
}

// border
.border-bottom-title {
  border-bottom: 10px solid $color-blue;
}

//layouting
.vertical-center {
  margin: auto 0;
}

.h-100 {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.line-height-small {
  line-height: 35px;
}
