@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './variables';
@import './font';
@import './custom';

#home {
  height: 100vh;
}

#app {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 60px;
  background-color: #1D1D1D;
  color: white;
}